<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ru" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ШифрОнлайн - шифр RC4</title>
    <link rel="icon" type="image/x-icon" href="/pic/favicon.ico">
    <link rel="stylesheet" href="/css/rc4.css">
    <script th:inline="javascript">
        window.onload = function() {
            // Получаем модальное окно
            var modal = document.getElementById("myModal");
            // Закрываем модальное окно при нажатии на кнопку "Закрыть"
            var closeBtn = document.getElementById("closeModal");
            closeBtn.onclick = function() {
                modal.close();
            }
            var textEmpty = /*[[${textEmpty}]]*/ false;
            var keyEmpty = /*[[${keyEmpty}]]*/ false;
            var formSubmitted = /*[[${formSubmitted}]]*/ false;
            var decryptError = /*[[${decryptError}]]*/ false
            if(decryptError){
                modal.showModal();
            }
            if(textEmpty){
                scrollToObject('.err-flag',75);
            }else if(keyEmpty){
                scrollToObject('.key',75);
            }else if (formSubmitted) {
                scrollToObject('.button-container');
            }
        };

        function scrollToObject(element, offset = 0) {
            var objectToScrollTo = document.querySelector(element);
            if (objectToScrollTo) {
                window.scrollTo({
                    top: objectToScrollTo.offsetTop - offset,
                    behavior: 'smooth'
                });
            }
        }
        /*]]>*/
    </script>
</head>
<body>
<div class="top-bar">
    <a href="https://equipped-precisely-ocelot.ngrok-free.app/" class="ico_name">
        <img class="ico" src="/pic/favicon.ico">
        <p class="site-name">Шифрование онлайн</p>
    </a>
</div>
<div class="empty-container">
</div>
<div class="main-container">
    <div class="title">
        <h1>
            Шифр RC4
        </h1>
    </div>
    <div class="description">
        <p>
            RC4 - (Rivest Cipher 4, также известный как ARC4 или ARCFOUR, что означает Предполагаемый RC4) потоковый шифр на основе параметризованного ключом генератора псевдослучайных битов с равномерным распределением. Высокая скорость работы и переменный размер ключа. Несмотря на свою простоту и скорость в программном обеспечении, в RC4 было обнаружено множество уязвимостей, что делает его небезопасным. Это особенно актуально, когда начало выходного ключевого потока не отбрасывается, или когда не случайные или связанные ключи используются. Особенно проблематичное использование RC4 привело к очень небезопасным протоколам, таким как WEP.
        </p>


    </div>
    <form th:action="@{/crypto/RC4/calculate}" method="post" th:object="${rc4Object}" class="err-flag">
        <div class="txt-field">
            <p>Поле для ввода текста</p>
            <p th:if="${#fields.hasErrors('textToCipher')}" th:errors="*{textToCipher}" style="font-size: 10pt; color: red"></p>
            <textarea th:field="*{textToCipher}"></textarea>
        </div>
        <div class="key">
            <p>Ключ</p>
            <p th:if="${#fields.hasErrors('key')}" th:errors="*{key}" style="font-size: 10pt; color: red"></p>
            <textarea th:field="*{key}"></textarea>
        </div>
        <div class="operation">
            <p>Тип операции</p>
            <select th:field="*{operation}">
                <option th:value="Зашифровать">Зашифровать</option>
                <option th:value="Расшифровать">Расшифровать</option>
            </select>
        </div>
        <div class="button-container">
            <button type="submit">Рассчитать</button>
        </div>
    </form>
    <div class="txt-field-answr">
        <p class="answr-text">
            Преобразованный текст
        </p>
        <textarea th:text="${result}" id="txt-area-answr" readonly></textarea>
        <img onclick="copyText()" src="/pic/copy.png">

    </div>
</div>
<div class="end-container">
    <div style="width: 100%; height: 100%; display: grid; grid-template-rows: 1fr 1fr 2fr;">
        <p class="creator">
            Сайт разработал  GUBAEV RUSLAN
        </p>
        <p style="text-align: center; color: white; font-size: 15pt;">
            Сайт был разработан в рамках учебной практики, не используется в коммерческих целях.
        </p>
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <a class="guap" href="https://guap.ru/" target="_blank">
                <img src="/pic/guap.svg">
            </a>
        </div>
    </div>

</div>
<dialog id="myModal">
    <h2>Упс!</h2>
    <p>При декодировании произошла ошибка.</p>
    <button id="closeModal">Закрыть</button>
</dialog>
<script>
    //Функция для кнопки копирования результата
    function copyText() {
        // Получаем текст из поля результата
        var textToCopy = document.getElementById("txt-area-answr").value;

        // Создаем временный элемент
        var tempTextarea = document.createElement("textarea");
        tempTextarea.value = textToCopy;
        document.body.appendChild(tempTextarea);

        // Выбирамем и копируем данные
        tempTextarea.select();
        document.execCommand("copy");

        // Удаляем временный элемент
        document.body.removeChild(tempTextarea);

    }
</script>
</body>
</html>